extends nav
block content
	.container
		h2.form-signin-heading Create Account
		form.form-signin(action='/users' method='post')
			label.sr-only Name
			input.form-control(name='name', type='name', placeholder='Name')
			br
			label.sr-only(for='inputEmail') Email
			input#inputEmail.form-control(name='email', type='email', placeholder='Email address')
			br
			label.sr-only(for='inputPassword') Password
			input#inputPassword.form-control(name='password', type='password', placeholder='Password')
			br
			input.btn.btn-lg.btn-primary(type='submit' value='Create Account')