extends nav
block content
	.container
		.blog-header
			h1.blog-title= "Welcome " + user.name
			p.lead.blog-description= "Your Email: " + user.email
			ul.pager
				li
					a(href='/logout') Logout

			hr
			h2.blog-title Your Posts:
			each blogPost in blog
				.blogpost
					h3.blog-post-title
						a(href='posts/#{blogPost.id}')= blogPost.title
					p= blogPost.body
