doctype html
html
	head
	body
		a(href='/') home
		br
		a(href='/logout') log out

		h2= "Welcome " + user.name
		h3= "Your Email: " + user.email

		h4 Your Posts:
		each blogPost in blog
			p= blogPost.title + ": " + blogPost.body
